/vendor
/node_modules
/.git
/.idea
/.vscode
/.fleet
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.env
/.env.*.local
/tests
/.phpunit.cache
/.phpunit.result.cache
/coverage
